// Global styling for this template

body {
  @include body-font;
  padding-top: 54px;
  color: $gray-600;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-800;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.35rem;
}

.list-social-icons {
  a {
    color: $gray-700;

    &:hover {
      color: $primary;
    }

    .fa-lg {
      font-size: 1.75rem;
    }
  }
}

.list-icons {
  font-size: 3rem;

  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}

.list-star {
  list-style: none;
  padding: 0px;
  margin-bottom: 3rem !important;

  .li-prof {
    display: flex;
    width: 200px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .li-head {
    padding: 20
  }

  i {
    color: $primary;



  }



}

.anim {
  color: $primary;

  animation-name: change;
  animation-duration: 6s;

}

@keyframes change {
  0% {
    color: $gray-500;
  }

  25% {
    color: $yellow;
  }

  50% {
    color: $orange;
  }

  100% {
    color: $primary;
  }
}
.mail{
  columns: $gray-800!important;
}

.list-float-item{
  position:fixed;
	bottom:20px;
	right:20px;
}